@media (max-width:600px) {
    
    .ClientSections{
       width:  100%;
        display: grid;
        direction: column;
        grid-template-columns:repeat(autofit, minmax(300px,1fr));
    }

    .TextClient{

        grid-column-start: 1;
        grid-column-end: 1;
        
    
        font-size: 1.4rem;
        color:#010205;
        /* background-color: green; */
    }
    
    .ClientName{
        width: 100%;
    
      grid-column-start: 1; 
      grid-column-end: 1;
        /* background-color: red; */
    }
       
        /* background-color: green; */
    

        /* background-color: green; */
    
    
.circleImage{

    width: 70px;
    height: 70px;
    border-radius: 70px;
    border: 2px solid rgba(255, 255, 255, 0.50);
    background: rgba(0, 0, 0, 0.20);

    margin-right:0.4rem;

}

.client{
    
 
    margin: 2rem 0rem 2rem 0rem;
    justify-items: center;
    align-items: center;
    justify-content: center;
    display: flex;
    align-content: flex-start;
  
   
}

.buttonLR{

    display: flex;
padding: 1rem 2rem;
justify-content: center;
align-items: center;
gap: 42px;
border-radius: 70px;
border: 1px solid #010205;
margin: 0px 20px;
}

.NextClient{

    display: flex;
    color: #010205;
leading-trim: both;
text-edge: cap;
font-family: "Plus Jakarta Sans";
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 10px; /* 28.8px */
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: none;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;

justify-content: right;
align-items: center;
margin-top: 1rem;

margin-left: 1rem;
}


.ClientName_Designation{

    line-height: 1.2rem;
}

.dark{

    background: black;
}

}
